/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

/* Login Page Styles */
.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    margin: 0 0 20px 0;
    text-align: center;
}

.login-container .form-group {
    margin-bottom: 20px;
}

/* Input Page Styles */
form p {
    margin-bottom: 20px;
}

/* View Page Styles */
table {
    width: auto;
    min-width: 50%;
    border-collapse: collapse;
    margin: 0 auto;  /* Added line: Center align the table */
    text-align: center;  /* Added line: Center align the table content */
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
}

table th {
    background-color: #333;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

